*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
section.loginsection{
    width: 40%;
    padding: 10px;
    min-height: 50vh;
    margin:60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.loginform{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
form.loginform > nav{
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.nav{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0px 0px 22px 20px;
}
legend{
    font-family: Arial, Helvetica, sans-serif;
    color: #162168;
    font-size: 16px;
    font-weight: bolder;
}
label{
    margin-bottom: 8px;
    color: #34395E;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
input{
    padding: 10px;
    height: 42px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    outline: none;
}
input:focus{
    background-color: #555168;
}
.aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    >li{
        color: #007Bff;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
button{
    height: 45px;
    background: #134544;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 4px 16px #555168;
    transition: background 1s;
    text-decoration: none;
}
button:hover{
    background-color: #555168;
}
form.loginform + p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    > span{
        cursor: pointer;
        color: #007Bff;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}
form.loginform + p + p{
    color: #162168;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 50px;
}
@media screen and (max-width : 880px){
    section.loginsection{
        width: 100%;
    }
    form.loginform{
        width: 100%;
    }
    form.loginform > nav{
        width: 100%;
        > input{
            height: 50px;
        }
    }
}